---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import PrivacyA from '../components/Privacy.astro';
import FAQ from '../components/FAQ.astro';
---

<Layout
	description="Javier Olmo" 
	title="Javier Olmo"
>
	<main>
		<Hero>
			Experto en
      <strong class="text-electric-lime">optimizar</strong>
      el
      <strong class="text-electric-lime">rendimiento</strong>
			y la readaptación de
      <strong class="text-electric-lime">lesiones</strong>
		</Hero>
		<Header />
    <PrivacyA />
    <FAQ />
	</main>
  <Footer />
</Layout>