---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import logo from '/public/favicon.svg';
---

<Layout description="Javier Olmo" title="Javier Olmo">
  <main class="flex items-center justify-center min-h-screen px-4">
		<div class="w-full max-w-xl px-10 py-8 bg-white border rounded-lg shadow sm:py-12 sm:px-16">
			<div class="text-center flex flex-col items-center mb-7">
				<div class="max-w-80">
					<Image src={logo} alt="Logo" class="w-full h-full object-cover" />
				</div>
				<h2 class="mb-2 text-3xl font-bold">Inicia Sesión</h2>				
				<span>Conéctate para acceder a tu cuenta.</span>
			</div>
			<form method="post" class="flex flex-col gap-y-3">
				<div class="flex flex-col gap-y-2">
					<label for="email" class="text-sm font-semibold whitespace-nowrap">Email</label>
					<input id="email" type="email" name="email" class="h-10 border border-solid border-gray-300 rounded-lg focus-visible:outline-none px-3 py-1.5 transition-colors focus:border-electric-lime" autocomplete="on" required>
				</div>
				<div class="flex flex-col gap-y-2">
					<label for="password" class="text-sm font-semibold whitespace-nowrap">Contraseña</label>
					<input id="password" type="password" name="password" class="h-10 border border-solid border-gray-300 rounded-lg focus-visible:outline-none px-3 py-1.5 transition-colors focus:border-electric-lime" autocomplete="on" required>
				</div>
				<button type="submit" class="bg-electric-lime min-w-max w-full font-medium rounded-full p-1.5 px-10 mx-auto mb-2 transition-colors hover:bg-lime-zest">
					Iniciar Sesión
				</button>
			</form>
			<div class="flex flex-col mt-10 text-center">
				<div class="flex flex-col gap-y-2">
					<span>¿No tienes cuenta?</span>
					<a href="/signup/" class="border-2 border-blue-500 rounded-full p-1.5 md:px-10 font-medium text-blue-500 whitespace-nowrap transition-colors hover:text-blue-400 hover:border-blue-400">
						Crear Cuenta
					</a>
				</div>
			</div>
		</div>
	</main>
</Layout>