<section class="w-full h-[60vh] md:h-[20vh] flex justify-center relative mb-6">
    <div class="absolute -top-12 bg-white rounded-lg h-auto w-8/12 text-center pt-12 flex flex-col md:h-60 md:w-7/12 md:flex-row md:pt-0 md:justify-evenly md:items-center shadow-lg">
      <div class="w-full md:w-1/2 flex justify-center">
        <div class="w-full md:w-1/2">
          <h3 class="text-4xl font-extrabold">Es fácil competir si sabes cómo</h3>
        </div>
      </div>
      <div class="w-full md:w-1/2 flex flex-row flex-wrap justify-center items-center md:flex-none mb-3">
        <div class="w-1/2 flex items-center md:justify-center flex-col md:ml-8">
          <p class="text-3xl mt-6 md:mt-0">Prueba nuestra metodología.</p>
          <button class="bg-electric-lime text-black font-bold text-xl py-3 w-36 rounded-md mt-3 drop-shadow-lg">
            Contáctanos
          </button>
        </div>
      </div>
    </div>
  </section>  