<section class="w-full h-128 md:h-88 flex justify-center relative">
  <article class="bg-white flex -top-10 absolute py-16 lg:p-4 flex-col lg:flex-row gap-y-16 gap-x-4 rounded-xl h-fit lg:h-64 w-11/12 sm:w-9/12 lg:w-7/12">
    <div class="w-full lg:w-1/2 flex justify-center items-center">
      <h3 class="text-4xl w-10/12 lg:w-52 font-bold text-center">Se tu mejor versión <span class="text-electric-lime">yo seré tu aliado</span></h3>
    </div>
    <div class="w-full lg:justify-start lg:w-1/2 flex justify-center items-center">
      <div class="w-52 md:w-96 lg:w-64 flex justify-center items-center gap-4 flex-col md:flex-row lg:flex-col">
        <p class="text-3xl md:text-2xl lg:text-3xl">Prueba nuestra metodología.</p>
        <a href="#contact-form-section" class="bg-electric-lime font-bold text-2xl w-full rounded-xl h-16 shadow-md flex justify-center items-center">Contáctame</a>
      </div>
    </div>
  </article>
</section>