<article class="flex flex-col items-center gap-10 p-10 text-white lg:flex-row justify-evenly">
  <div class="flex justify-center flex-1">
    <p class="w-56 text-2xl font-bold text-center">
      +400 <span class="text-electric-lime">futbolistas profesionales</span>, <span class="text-electric-lime">tenis profesional</span>, Jugadores de padel profesionales
    </p>
  </div>

  <div class="flex-1">
    <p class="text-xl text-center">
      Sevilla FC
      <br>
      Levante UD
    </p>
  </div>

  <div class="flex flex-col items-center flex-1 gap-y-4">
    <h3 class="text-2xl font-bold text-center">Logros</h3>
    <ul>
      <li class="flex items-center gap-x-2">
        <span>icon - </span>
        <span>2016 Subcampeón Supercopa España</span>
      </li>
      <li class="flex items-center gap-x-2">
        <span>icon - </span>
        <span>2016 Subcampeón Supercopa Europa</span>
      </li>
      <li class="flex items-center gap-x-2">
        <span>icon - </span>
        <span>2016 <strong class="text-electric-lime">Campeón</strong> UEFA Europa League</span>
      </li>
      <li class="flex items-center gap-x-2">
        <span>icon - </span>
        <span>2015 <strong class="text-electric-lime">Campeón</strong> UEFA Europa League</span>
      </li>
      <li class="flex items-center gap-x-2">
        <span>icon - </span>
        <span>2015 Subcampeón Supercopa Europa</span>
      </li>
    </ul>
  </div>
</article>