---
import { Image } from 'astro:assets';

import javierConTrofeo from '../../public/images/javier/javier-con-trofeo.jpg';
import javierFootball from '../../public/images/javier/javier-football.jpg';
import javierPana from '../../public/images/javier/javier-pana.jpg';

import medalla from '../../public/images/achievments/medalla.png';
import trofeo from '../../public/images/achievments/trofeo.png';

const javierImages = [
  javierConTrofeo,
  javierFootball,
  javierPana
];

/*
(icono trofeo) Campeón ATP Marrakech 250(P. Andújar)
(icono medalla) 5 temporadas seguidas TOP 100 (P. Andújar)
(icono medalla) Octavos de final US OPEN (P. Andújar)
(icono medalla) Olimpiadas Tokio 2020 (P. Andújar)
*/

const javierAchievments = [
  {
    icon : medalla,
    year : "2016",
    text : "Subcampeón Supercopa España",
    strong : false
  },
  {
    icon : medalla,
    year : "2016",
    text : "Subcampeón Supercopa Europa",
    strong : false
  },
  {
    icon : trofeo,
    year : "2016",
    text : "Campeón UEFA Europa League",
    strong : true
  },
  {
    icon : trofeo,
    year : "2015",
    text : "Campeón UEFA Europa League",
    strong : true
  },
  {
    icon : medalla,
    year : "2015",
    text : "Subcampeón Supercopa Europa",
    strong : false
  },
  {
    icon: trofeo,
    text: "Campeón ATP Marrakech 250 (P. Andújar)",
  },
  {
    icon: medalla,
    text: "5 temporadas seguidas TOP 100 (P. Andújar)",
    true: true
  },
  {
    icon: medalla,
    text: "Octavos de final US OPEN (P. Andújar)",
  },
  {
    icon: trofeo,
    text: "Olimpiadas Tokio 2020 (P. Andújar)",
    true: true
  }
 
];
---

<article class="flex flex-col items-center gap-10 p-10 text-white lg:flex-row justify-evenly">
  <div class="flex justify-center flex-1">
    <p class="w-56 text-2xl font-bold text-center">
      +400 <span class="text-electric-lime">futbolistas profesionales</span>, <span class="text-electric-lime">tenis profesional</span>, Jugadores de padel profesionales
    </p>
  </div>

  <div class="flex-1">
    <p class="text-xl text-center">
      Sevilla FC
      <br>
      Levante UD
    </p>
  </div>

  <div class="flex flex-col items-center flex-1 gap-y-4">
    <h3 class="text-2xl font-bold text-center">Logros</h3>
    <ul>
      {javierAchievments.map(javierAchievment => (
        <li class="flex items-center gap-x-2">
          <Image src={javierAchievment.icon} alt="Icono" class="w-6"/>
          <span>{javierAchievment.year ? javierAchievment.year + " " : ""}{javierAchievment.strong ? <strong class="text-electric-lime">{javierAchievment.text}</strong> : javierAchievment.text}</span>
        </li>
      ))}
    </ul>
  </div>
</article>

<div class="flex gap-2 sm:gap-4 md:gap-6 lg:gap-10 px-10 h-min">
  {javierImages.map(javierImage => (
    <div class="flex-1">
      <Image src={javierImage} alt="Javier Olmo" class="object-cover w-full h-full"/>
    </div>
  ))}
</div>