<section class="w-full flex flex-col gap-y-4 justify-center items-center text-white">
  <h2 id="contact-form-section" class="text-4xl text-center font-semibold">Formulario de contacto</h2>
	<form class="grid grid-cols-2 p-4 gap-3 w-full max-w-xl" method="post">
		<label class="flex flex-col gap-y-1 col-span-2" for="name">
			<span>Nombre completo</span>
			<input type="text" name="name" id="name" class="rounded-md py-1.5 px-2 text-black" required>
		</label>
		<label class="flex flex-col gap-y-1 col-span-2" for="email">
			<span>Email</span>
			<input type="email" name="email" id="email" class="rounded-md py-1.5 px-2 text-black" required>
		</label>
		<label class="flex flex-col gap-y-1 col-span-2" for="phone">
			<span>Móvil</span>
			<input type="tel" name="phone" id="phone" class="rounded-md py-1.5 px-2 text-black" required>
		</label>
		<label class="flex flex-col gap-y-1 col-span-2 lg:col-span-1" for="country">
			<span>País</span>
			<input type="text" name="country" id="country" class="rounded-md py-1.5 px-2 text-black" required>
		</label>
		<label class="flex flex-col gap-y-1 col-span-2 lg:col-span-1" for="city">
			<span>Ciudad</span>
			<input type="text" name="city" id="city" class="rounded-md py-1.5 px-2 text-black" required>
		</label>
		<label class="flex flex-col gap-y-1 col-span-2" for="message">
			<span>Mensaje (opcional)</span>
			<textarea name="message" id="message" class="rounded-md py-1.5 px-2 text-black"></textarea>
		</label>
		<label class="flex flex-col gap-y-1 col-span-2" for="service">
			<span>Servicio</span>
			<select name="service" id="service" class="rounded-md py-1.5 px-2 text-black" required>
				<option value="Ninguno">Ninguno</option>
				<option value="Supreme">Supreme</option>
				<option value="Élite">Élite</option>
				<option value="Excellence">Excellence</option>
				<option value="Platinum">Platinum</option>
				<option value="Mentoria">Mentoría</option>
			</select>
		</label>
		<label for="accept" class="flex items-center col-span-2 gap-x-1.5">
			<input type="checkbox" name="accept" id="accept" required>
			<p>He leído y acepto el <a href="#">aviso legal</a> y la <a href="#">política de privacidad</a></p>
		</label>
		<button type="submit" class="py-1.5 px-2 bg-electric-lime rounded-md mt-2 col-span-2">Enviar</button>
	</form>
</section>

<script>
  document.getElementById('submitButton').addEventListener('click', () => {
    // Captura los datos del formulario
    const formData = new FormData();
    formData.append('name', document.getElementById('name').value);
    formData.append('email', document.getElementById('email').value);
    formData.append('phone', document.getElementById('phone').value);
    formData.append('country', document.getElementById('country').value);
    formData.append('city', document.getElementById('city').value);
    formData.append('message', document.getElementById('message').value);
    formData.append('service', document.getElementById('service').value);

	if (!document.getElementsByName('accept')[0].checked) {
	  alert('Debes aceptar el aviso legal y la política de privacidad.');
	  return;
	}

    const data = Object.fromEntries(formData);

    // Realiza una solicitud POST con los datos en formato JSON
    fetch('https://www.padelchiquito.com/api/jolmo/form/', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify(data),
    })
    .then(response => response.json())
    .then(data => {
      console.log('Éxito:', data);
      alert('Formulario enviado con éxito.');
    })
    .catch((error) => {
      console.error('Error:', error);
      alert('Error al enviar el formulario.');
    });
  });
</script>