---
import { Image } from 'astro:assets';
import levanteFC from '../../public/images/trajectory/levante-fc-logo.png';
import sevillaFC from '../../public/images/trajectory/sevilla-fc-logo.png';
---

<div class="flex gap-10 lg:gap-20 justify-center px-10">
  <div class="w-32">
    <Image src={sevillaFC} alt='Sevilla FC'/>
  </div>  
  <div class="w-32">
    <Image src={levanteFC} alt='Levante FC'/>
  </div>
</div>