---
const { url, title } = Astro.props;
---

<li class="flex-grow text-2xl font-bold text-white hover:shadow-header-element hover:cursor-pointer">
  <a href={url} class="block w-full h-full py-6">
    {title}
    {title === "Biblioteca de ejercicios" ? (
      <span class="text-red-500">
        próximamente!
      </span>
    ) : (
      ""
    )}
  </a>
</li>
