---
import HeaderItem from "./HeaderItem.astro";
const headerElements = [
  {
    url: '#about',
    title: 'Conóceme'
  },
  {
    url: '#',
    title: 'Biblioteca de ejercicios'
  },
  {
    url: '#',
    title: 'Galería'
  },
  {
    url: '#',
    title: 'Entrena conmigo'
  }
]
---

<header class="w-full bg-black border-b lg:absolute lg:bottom-0 lg:bg-inherit lg:border-none">
  <nav>
    <ul class="flex flex-col w-full text-center lg:flex-row">
      {headerElements.map(element => (
        <HeaderItem url={element.url} title={element.title} />
      ))}
    </ul>
  </nav>
</header>
