---
import { Image } from 'astro:assets';
import bannerLeftImage from '../../public/images/how-we-help-banner-left-tmp.webp';
import bannerRightImage from '../../public/images/how-we-help-banner-right-tmp.webp';
---

<section class="bg-white py-4">
  <h2 class="text-4xl px-24 py-8">
    <span class="font-bold text-electric-lime">¿Cómo</span>
    <span>te ayudamos?</span>
  </h2>
  <div class="flex gap-x-2 h-100">
    <div class="w-11/12">
      <Image src={bannerLeftImage} alt="Banner" class="object-cover h-full w-full"/>
    </div>
    <div>
      <Image src={bannerRightImage} alt="Banner" class="object-cover h-full w-full"/>
    </div>
  </div>
  <div>
    <!-- TODO: help steps -->
  </div>
</section>