<section class="relative h-screen bg-no-repeat bg-cover">
  <div class="flex items-center justify-center h-full">
    <h1 class="w-10/12 text-4xl font-bold text-white sm:text-5xl md:w-8/12 lg:w-4/12">
      Especialista en
      <strong class="text-electric-lime">preparación física</strong>
      de élite y
      <strong class="text-electric-lime">readaptación de lesiones</strong>
    </h1>
  </div>
</section>

<style>
  section {
    background-image: url('../../public/hero-bg-tmp.webp');
  }
</style>