<section>
  <h2 class="bg-white text-4xl px-6 md:px-28 py-10">
    <p class="md:w-128">
      Vas a ser más <strong class="text-electric-lime">fuerte</strong> y más <strong class="text-electric-lime">rápido</strong> 
    </p>
  </h2>
  <div class="px-10 py-4 md:px-20 md:py-10 md:px-auto bg-electric-lime flex justify-evenly">
    <ul class="columns-1 md:columns-2 list-disc text-2xl space-y-2 [&>li]:break-inside-avoid">
      <li>Ser más fuerte</li>
      <li>Ser rápido y más ágil</li>
      <li>Capacidad para mantener la condición todo el partido</li>
      <li>Ser más competitivo y preparado</li>
      <li>Recuperación de lesiones</li>
    </ul>
  </div>
</section>