<section>
  <h2 class="bg-white text-4xl px-6 md:px-28 py-10">
    <p class="md:w-128">
      <strong class="text-electric-lime">Aprenderás</strong> 
      y desarrollarás múltiples competencias
    </p>
  </h2>
  <div class="px-10 py-4 md:px-20 md:py-10 md:px-auto bg-electric-lime flex justify-evenly">
    <ul class="columns-1 md:columns-2 list-disc text-2xl space-y-2 [&>li]:break-inside-avoid">
      <li>Concentración máxima</li>
      <li>Decidir rápido, manejar el flow</li>
      <li>Ajustar la activación (energía)</li>
      <li>Gestionar la frustración</li>
      <li>Creer en uno mismo, autoconfianza</li>
      <li>Entender “éxito” y “fracaso”</li>
      <li>Trabajar en equipo</li>
      <li>Sujetar el rendimiento óptimo</li>
      <li>Ganar autonomía emocional</li>
      <li>Favorecer el desarrollo deportivo y personal</li>
    </ul>
  </div>
</section>