---
import { Image } from "astro:assets";
import Logo from "../../public/favicon.svg";
---

<div class="flex flex-col items-center justify-center w-full text-white md:flex-row">
	<Image src={Logo} alt="Javier Olmo con un trofeo" class="h-80 w-80" />
</div>
