---
import { Image } from 'astro:assets';
import quoteImage  from '../../public/images/quote/imagenCita.png';
---
<section class="relative w-full h-128">
  <Image src={quoteImage} alt="Cita motivacional" class="absolute inset-0 w-full h-full object-cover -z-10"/>
  <div class="relative flex w-fit flex-col gap-y-10 left-[20%] sm:left-[10%] top-[20%]">
    <h3 class="relative w-40 sm:w-128 lg:w-192">
      <span class="text-electric-lime absolute font-extrabold text-7xl lg:text-9xl -left-12 -top-4 sm:-top-6 lg:-left-20 lg:-top-10">&#10077;</span>
      <span class="font-medium text-white text-4xl lg:text-5xl">Sin hacer y sin sudar no cambiamos a nivel emocional.</span>
      <span class="text-electric-lime absolute font-extrabold text-7xl lg:text-9xl -bottom-10 -right-16 sm:-right-6 lg:right-10">&#10078;</span>
    </h3>
    <span class="font-bold uppercase text-white text-xl">Javier Olmo</span>
  </div>
</section>