<section class="w-full h-full">
    <h2 class="text-electric-lime text-5xl font-bold text-center">ONLINE</h2>
    <div class="w-full flex flex-wrap items-center justify-center mt-10">
        <div class="h-auto w-72 my-5 sm:m-5">
            <div
                class="h-96 relative bg-electric-lime w-72 rounded-3xl overflow-hidden"
            >
                <h3 class="text-3xl font-bold text-center m-5">SUPREME</h3>
                <div
                    class="w-full h-full bg-white rounded-t-3xl p-3 text-center flex flex-col justify-between"
                >
                    <div>
                        <h5 class="font-bold text-lg">Punto de partida</h5>
                        <p>Objetivos</p>
                        <h5 class="font-bold text-lg">Tests</h5>
                        <h5 class="font-bold text-lg">
                            Preparación individual
                        </h5>
                        <p>Programación individualizada</p>
                        <h5 class="font-bold text-lg">Reunión semanal</h5>
                        <h5 class="font-bold text-lg">Reunión mensual</h5>
                        <h5 class="font-bold text-lg">Contacto vía whatsapp</h5>
                        <a href="/#contact-form-section"
                            class="z-10 absolute left-10 bottom-0 bg-electric-lime w-3/4 rounded-2xl py-2 font-bold text-lg mb-3 self-center"
                            >LO QUIERO</a
                        >
                    </div>
                </div>
            </div>
            <p class="text-white text-center w-full">
                Ideal para deportistas profesionales que buscan una dedicación diaria y comunicación continua, con un servicio premium.
            </p>
        </div>

        
        <div class="h-auto w-72 my-5 sm:m-5">
            <div
                class="h-96 relative bg-electric-lime w-72 rounded-3xl overflow-hidden"
            >
                <h3 class="text-3xl font-bold text-center m-5">ELITE</h3>
                <div
                    class="w-full h-full bg-white rounded-t-3xl p-3 text-center flex flex-col justify-between"
                >
                    <div>
                        <h5 class="font-bold text-lg">Punto de partida</h5>
                        <p>Objetivos</p>
                        <h5 class="font-bold text-lg">Tests</h5>
                        <h5 class="font-bold text-lg">
                            Preparación individual
                        </h5>
                        <p>Programación individualizada</p>
                        <h5 class="font-bold text-lg">Reunión semanal</h5>
                        <h5 class="font-bold text-lg">Reunión mensual</h5>
                        <a href="/#contact-form-section"
                            class="z-10 absolute left-10 bottom-0 bg-electric-lime w-3/4 rounded-2xl py-2 font-bold text-lg mb-3 self-center"
                            >LO QUIERO</a
                        >
                    </div>
                </div>
            </div>
            <p class="text-white text-center w-full">
                Perfecto para deportistas comprometidos que desean optimizar su rendimiento con entrenamientos personalizados y asesoría semanal.
            </p>
        </div>

        <div class="h-auto w-72 my-5 sm:m-5">
            <div
                class="h-96 relative bg-electric-lime w-72 rounded-3xl overflow-hidden"
            >
                <h3 class="text-3xl font-bold text-center m-5">EXCELLENCE</h3>
                <div
                    class="w-full h-full bg-white rounded-t-3xl p-3 text-center flex flex-col justify-between"
                >
                    <div>
                        <h5 class="font-bold text-lg">Punto de partida</h5>
                        <p>Objetivos</p>
                        <h5 class="font-bold text-lg">Tests</h5>
                        <h5 class="font-bold text-lg">
                            Preparación individual
                        </h5>
                        <p>Programación individualizada</p>
                        <h5 class="font-bold text-lg">Reunión mensual</h5>
                        <a href="/#contact-form-section"
                            class="z-10 absolute left-10 bottom-0 bg-electric-lime w-3/4 rounded-2xl py-2 font-bold text-lg mb-3 self-center"
                            >LO QUIERO</a
                        >
                    </div>
                </div>
            </div>
            <p class="text-white text-center w-full">
                Diseñado para deportistas que quieren mejorar su condición física y habilidades con sesiones de entrenamiento estructuradas y seguimiento mensual.
            </p>
        </div>
    </div>
</section>

<section class="w-full h-full flex flex-col items-center mt-10">
    <h2 class="text-electric-lime text-5xl font-bold text-center">
        PRESENCIAL
    </h2>
    <div
        class="h-96 relative bg-electric-lime w-96 sm:w-[500px] rounded-3xl overflow-hidden my-5 sm:m-5"
    >
        <h3 class="text-3xl font-bold text-center m-5">PLATINUM</h3>
        <div
            class="w-full h-full bg-white rounded-t-3xl p-3 text-center flex flex-col justify-between"
        >
            <div>
                <h5 class="font-bold text-lg">
                    Servicio exclusivo - limitado en plazas/ubicación
                </h5>
                <p class="mt-3">
                    Un servicio de entrenamiento presenial exclusivo, centrado
                    en brindar una experiencia de alto nivel con atención
                    personalizada y programas de entrenamiento intensivos.
                </p>
                <a href="/#contact-form-section"
                    class="z-10 absolute left-14 bottom-0 bg-electric-lime w-3/4 rounded-2xl py-2 font-bold text-lg mb-3 self-center"
                    >LO QUIERO</a
                >
            </div>
        </div>
    </div>
</section>

<section class="w-full h-full flex flex-col items-center mt-10">
    <h2
        class="text-electric-lime text-4xl sm:text-5xl font-bold text-center text-wrap"
    >
        SERVICIO PARA PROFESIONALES
    </h2>
    <div
        class="h-96 relative bg-electric-lime w-96 sm:w-[500px] rounded-3xl overflow-hidden my-5 sm:m-5"
    >
        <h3 class="text-3xl font-bold text-center m-5">MENTORÍA</h3>
        <div
            class="w-full h-full bg-white rounded-t-3xl p-3 text-center flex flex-col justify-between"
        >
            <div>
                <h5 class="text-lg">
                    Servicio exclusivo para profesionales de la preparación
                    física y readaptadores
                </h5>
                <p class="font-bold mt-3">
                    Orientación personalizada, acceso a mi forma de trabajar y
                    apoyo continuo para llevar tu carrera al siguiente nivel. Te
                    ayudo a progresar profesionalmente y a utilizar todo tipo de
                    herramientas para el control de la carga y la preparación
                    del deportista
                </p>
                <a href="/#contact-form-section"
                    class="z-10 absolute left-14 bottom-0 bg-electric-lime w-3/4 rounded-2xl py-2 font-bold text-lg mb-3 self-center"
                    >LO QUIERO</a
                >
            </div>
        </div>
    </div>
</section>
