---
import { Image } from "astro:assets";
import Logo from "../../public/favicon.svg";
---

<section class="flex flex-col items-center justify-center w-full mb-10 text-white h-96 md:flex-row">
	<Image src={Logo} alt="Javier Olmo con un trofeo" class="h-80 w-80" />
	<h2 class="text-2xl font-bold md:text-4xl">Servicios</h2>
</section>
